<b>
	Member Directory
</b>
<div class="hr">
</div>
<table>
	<% @members.each do |m| %>
		<tr>
			<% if m.profile.nil? %>
				<td><%= image_tag('/images/noavatar.gif') %></td>
				<td><%= m.firstname + " " + m.lastname %></td>
				<td></td>
				<% if m == current_member %>
					<td><%= link_to 'Create Profile', new_members_profile_path %></td>
					<td></td>
				<% else %>
					<td></td>
					<td></td>
				<% end %>
			<% else %>
				<% if m.profile.avatar_file_name.nil? %>
					<td><%= image_tag('/images/noavatar.gif') %></td>
				<% else %>
					<td><%= link_to image_tag(m.profile.avatar.url(:thumb)), m.profile.avatar.url %></td>
				<% end %>
				<td><%= link_to m.firstname + " " + m.lastname, m.profile.id.to_s %><%unless m.profile.fname.blank? && m.profile.tname.blank? && m.profile.lname.blank? %> |<% end %></td>
				<td><% unless m.profile.fname.blank? %>
						<span class="sflogo">
							<%= link_to "", "http://facebook.com/" + m.profile.fname %>
						</span>
					<% end %>
					<% unless m.profile.tname.blank? %>
						<span class="stlogo">
							<%= link_to "", "http://twitter.com/" + m.profile.tname %>
						</span>
					<% end %>
					<% unless m.profile.lname.blank? %>
						<span class="sllogo">
							<%= link_to "", "http://linkedin.com/in/" + m.profile.lname %>
						</span>
					<% end %></td>
				<% if m == current_member %>
					<td>| <%= link_to 'Edit', edit_members_profile_path(m.profile) %></td>
					<td>| <%= link_to 'Remove', [:members, m.profile], :confirm => 'Are you sure?', :method => :delete %></td>
				<% else %>
					<td></td>
					<td></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>
