<b>
  <%= @profile.member.firstname + " " + @profile.member.lastname %>
</b>
<div class="hr">
</div>
<div class="profile-picture">
	<% if @profile.avatar_file_name.nil? %>
    <% if @profile.tname.blank? %>
      <%= image_tag('/images/noavatar.gif') %>
    <% else %>
      <%= link_to image_tag('http://headhunter.heroku.com/'+@profile.tname), 'http://twitter.com/' + @profile.tname %>
    <% end %>
	<% else %>
		<%= link_to image_tag(@profile.avatar.url(:display)), @profile.avatar.url %>
	<% end %>
</div>
<% unless @profile.phone.blank? %>
	<p>
		<b>Phone:</b>
		<%= number_to_phone(@profile.phone, :area_code => true) %>
	</p>
<% end %>
<% unless @profile.hometown.blank? %>
	<p>
		<b>Hometown:</b>
		<%= @profile.hometown %>
	</p>
<% end %>
<% unless @profile.college.blank? %>
	<p>
		<b>College:</b>
		<%= @profile.college %>
	</p>
<% end %>
<% unless @profile.degree.blank? %>
	<p>
		<b>Degree:</b>
		<%= @profile.degree %>
	</p>
<% end %>
<% unless @profile.occupation.blank? %>
	<p>
		<b>Occupation:</b>
		<%= @profile.occupation %>
	</p>
<% end %>
<% unless @profile.interests.blank? %>
	<p>
		<b>Interests:</b>
		<%= @profile.interests %>
	</p>
<% end %>
<% unless @profile.status.blank? %>
	<p>
		<b>Status:</b>
		<%= @profile.status %>
	</p>
<% end %>
<p>
<% unless @profile.fname.blank? %>
	<span class="sflogo">
		<%= link_to "", "http://facebook.com/" + @profile.fname %>
	</span>
<% end %>
<% unless @profile.tname.blank? %>
	<span class="stlogo">
		<%= link_to "", "http://twitter.com/" + @profile.tname %>
	</span>
<% end %>
<% unless @profile.lname.blank? %>
	<span class="sllogo">
		<%= link_to "", @profile.lname %>
	</span>
<% end %>
</p>
<br />
<br />
<% if admin_signed_in? || @profile.member_id == current_member.id %>
	<%= link_to 'Edit Profile', edit_members_profile_path(@profile) %>
<% else %>
<% end %>
