<div class="footer font10">
	<div class="footerlt">
		<%= link_to "Privacy Policy", '/privacy' %>
		<br />
		&copy;2010 Alliance of Emerging Professionals, Inc.
		<br />
		<br />
		Designed by <%= link_to "MarketCenter Technologies, Inc.", 'http://www.marketcenter.net' %>
		<br />
		<%= link_to "Run by Sailor", 'http://runbysailor.com' %>
	</div>
	<span class="footerct">
		<span class="flogo">
			<%= link_to "", 'http://www.facebook.com/#!/group.php?gid=6823087038' %>
		</span>
		<div class="tlogo">
			<%= link_to "", 'http://www.twitter.com/aepokc' %>
		</div>
		<span class="llogo">
			<%= link_to "", 'http://www.linkedin.com/groups?about=&gid=38134&trk=anet_ug_grppro' %>
		</span>		
	</span>
	<div class="footerrt">
		<%= link_to image_tag('/images/dvn.jpg'), 'http://www.dvn.com' %>
		<%= link_to image_tag('/images/oge.jpg'), 'http://www.oge.com' %>
		<br />
		<div class="footerlabel">
			Benefactor Sponsors
		</div>
	</div>
</div>
