<b>
  Members List
</b>
<div class="hr">
</div>
<b><%= link_to 'ADD NEW MEMBER', new_member_registration_path %></b>
<br />
<br />
<table>
  <tr>
  	<th>Confirmed? |</th>
  	<th>Leader? |</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
<% @members.each do |member| %>
  <tr>
  	<td><%= member.confirmed? ? image_tag('/images/check.gif') : '' %></td>
   	<td><%= member.leader? ? image_tag('/images/check.gif') : '' %></td>
    <td><%= link_to member.lastname + ', ' + member.firstname, '/members/' + member.id.to_s %></td>
    <td><%= link_to member.email, 'mailto:' + member.email %></td>
  </tr>
<% end %>
</table>