<b>
	Member Record
</b>
<div class="hr">
</div>
<% if @member.leader? %>
	<p>
		***LEADER***
	</p>
<% end %>
<% unless @member.profile.blank? %>
  <div class="profile-picture">
    <% if @member.profile.avatar_file_name.nil? %>
      <% if @member.profile.tname.blank? %>
        <%= image_tag('/images/noavatar.gif') %>
      <% else %>
        <%= link_to image_tag('http://img.tweetimag.es/i/' + @member.profile.tname + '_o'), members_profile_path(@member.profile.id) %>
      <% end %>
    <% else %>
      <%= link_to image_tag(@member.profile.avatar.url(:display)), members_profile_path(@member.profile.id) %>
    <% end %>
  </div>
<% end %>
<p>
  <b>Name:</b>
  <%= @member.firstname %>
  <%= @member.lastname %>
</p>
<p>
  <b>Email:</b>
  <%= @member.email %>
</p>
<p>
	<b>Committee:</b>
	<%= @member.committee_name %>
</p>
<%= link_to 'View All Members', members_path %>
