<b><%= @event.title %></b>
<div class="hr"></div>
<% if @event.sanctioned? %>
  <p><%= image_tag('official.png') %></p>
<% end %>
<div class="profile-picture">
  <% unless @event.image_file_name.nil? %>
	<%= link_to image_tag(@event.image.url(:display)), @event.image.url %>
  <% end %>
</div>
<p><b>Date: </b><%= @event.date.to_s(:formatted_date) %></p>
<p><b>Time: </b><%= @event.time %></p>
<p><b>Location: </b><%= @event.location %></p>
<p><%= auto_link(simple_format(@event.details)).html_safe %></p>
<p>
  <% unless @event.feid.blank? %>
	<span class="frsvp"><%= link_to "", "http://facebook.com/event.php?eid=" + @event.feid %></span>
	<br />
	<br />
	<br />
	<br />
  <% end %>
</p>
<% unless @event.member.nil? %>
	<% unless @event.member.profile.nil? %>
		<p>
		  <b>Created by:</b><br />
		  <%= image_tag @event.member.profile.avatar.url(:thumb) %><br />
		  <%= link_to @event.member.firstname + " " + @event.member.lastname, '/members/profiles/' + @event.member.profile.id.to_s %>
		</p>
	<% end %>
	<% if admin_signed_in? || member_signed_in? %>
		<% if admin_signed_in? || @event.member.id == current_member.id %>
			<%= link_to 'Edit This Event', edit_resources_event_path(@event) %> | <%= link_to "Events List", resources_events_path %>
		<% end %>
	<% else %>
		<%= link_to "Events List", resources_events_path %>
	<% end %>
<% end %>
