<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= f.label :date %><br />
		<%= f.date_select :date, :default => Time.now %>
	</div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.select(:amount, '<option value="20">$20.00</option>') %>
  </div>
  <div class="field">
    <%= f.label :member_name %><br />
    <%= f.collection_select :member_id, Member.all(:order => :lastname), :id, :last_name_first %>
  </div>
  <div class="field">
  	<%= f.label :source %><br />
  	<%= f.select(:source, '<option value="PayPal">PayPal</option><option value="Square">Square</option><option value="Check">Check</option><option value="Cash">Cash</option>') %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit :value => "Record Payment", :confirm => 'Please confirm that each field is correct! Are you certain that you want a receipt sent to the member?' %>
  </div>
  <br />
<% end %>