<b>
  Payments List
</b>
<div class="hr">
</div>
<b><%= link_to 'ADD NEW PAYMENT', new_payment_path %></b>
<br />
<br />
<div id="progress-bar">
  <div class="progress-fill" style="width: <%= number_to_percentage(@progress, :precision => 2) %>;">
  </div>
</div>
<div id="progress-statement">
  <%= number_to_percentage(@progress, :precision => 2) %> of members have paid.
</div>
<div class="clear">
</div>
<br />
<table>
  <tr>
    <th>Member</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @payments.each do |payment| %>
  <tr>
    <td>
      <% if payment.member %>
        <%= payment.member.last_name_first %>
      <% else %>
        <%= 'Member no more :(' %>
      <% end %>
    </td>
    <td><%= link_to payment.date, payment %></td>
    <td><%= payment.source %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
