<p>
  <b>Member:</b>
  <%= @payment.member.last_name_first %>
</p>
<p>
  <b>Date:</b>
  <%= @payment.date %>
</p>
<p>
	<b>Amount:</b>
	<%= @payment.amount %>
</p>
<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
