<b>
  Payment Record
</b>
<div class="hr">
</div>
<p>
  <b>Member:</b>
  <%= @payment.member.last_name_first %>
</p>
<p>
  <b>Date:</b>
  <%= @payment.date.to_s(:formatted_date) %>
</p>
<p>
	<b>Amount:</b>
	<%= number_to_currency(@payment.amount) %>
</p>
<p>
  <b>Method:</b>
  <%= @payment.source %>
</p>
<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
