<!DOCTYPE html>
<html>
	<head>
		<title>aep | the Alliance of Emerging Professionals</title>
		<%= stylesheet_link_tag "application", "common", "style" %>
		<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/base/jquery-ui.css" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" %>
		<%= javascript_include_tag "jquery.rails.js" %>
		<%= javascript_include_tag "application.js" %>
		<%= javascript_include_tag "analytics.js" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="signup" >
			<%= link_to image_tag('/images/signup.png', :mouseover => '/images/onsignup.png'), 'http://visitor.constantcontact.com/email.jsp?m=1101983411682&lang=en' %>
		</div>
		<div class="wrapper">
			<div class="beta" >
				<%= image_tag("beta.png") %>
			</div>
			<%= render "/partials/logout" %>
			<div class="header">
			</div>
			<%= render "/partials/navbar" %>
			<div class="content">
				<div class="contentlt">
					<div class="ltheader font11">
						Membership
					</div>
					<div class="ltnav font11">
						<% @page.subpages.sort_by{|sp| sp.position}.each do |sp| %>
							<% if sp.title == "Application" %>
								<div class="ltnavitem">
									Application
								</div>			
							<% else %>				
								<div class="ltnavitem">
									<%= link_to sp.title, "/" + sp.parent.link + "/" + sp.link %>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="clear">
					</div>
				</div>
				<div class="contentrt font11" style="line-height: 1.6em; text-align: justify;">
					<div class="flash">
						<%= flash[:notice] %>
						<%= flash[:alert] %>
					</div>
					<%= yield %>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
		<%= render "/partials/footer" %>
	</body>
</html>
