<!DOCTYPE html>
<html>
	<head>
		<title>aep | the Alliance of Emerging Professionals</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta name="copyright" content="Alliance of Emerging Professionals, Inc" />
		<meta name="author" content="Run by sailoR" />
		<meta name="description" content="aep is a group of Oklahoma City young professionals dedicated to volunteer activities and community building. Partnered with the OKC Chamber, AEP facilitates networking events to enhance its members' careers and success in business." />
		<meta name="keywords" content="aepokc,aep Oklahoma City,young professionals organization,yp organization,alliance of emerging professionals,Oklahoma City yp,Oklahoma City young professionals,Oklahoma yp,Oklahoma young professionals,young professionals networking,Oklahoma City jobs,Oklahoma jobs,Oklahoma City professional networking,Oklahoma City job fair,Oklahoma job fair,Oklahoma City career fair,Oklahoma job fair,Oklahoma City volunteer,Oklahoma City leadership,Oklahoma City adult sports" />
		<%= stylesheet_link_tag "application", "common", "style" %>
		<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/base/jquery-ui.css" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" %>
		<%= javascript_include_tag "jquery.rails.js" %>
		<%= javascript_include_tag "application.js" %>
		<%= javascript_include_tag "analytics.js" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="signup" >
			<%= link_to "", 'http://visitor.constantcontact.com/email.jsp?m=1101983411682&lang=en' %>
		</div>
		<div class="wrapper">
			<%= render "/partials/logout" %>
			<div class="header">
			</div>
			<%= render "/partials/navbar" %>
			<div class="content">
				<div class="contentlt">
					<div class="ltheader font11">
						Membership
					</div>
					<div class="ltnav font11">
						<% @page.subpages.sort_by{|sp| sp.position}.each do |sp| %>
							<% if sp.title == "Application" %>
								<div class="ltnavitem">
									Application
								</div>			
							<% else %>				
								<div class="ltnavitem">
									<%= link_to sp.title, "/" + sp.parent.link + "/" + sp.link %>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="clear">
					</div>
					<%= render "/partials/ptwitter" %>
				</div>
				<div class="contentrt font11" style="line-height: 1.6em; text-align: justify;">
					<div class="flash">
						<%= flash[:notice] %>
						<%= flash[:alert] %>
					</div>
					<%= yield %>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
		<%= render "/partials/footer" %>
	</body>
</html>
